#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.share-btn > a {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, Arial;
}
.share-btn > a:hover {
    cursor: pointer;
}

.btn-primary {
    font-weight: 500;
     background-color: #292826;
     border-color: black;
    
    }
    .btn-primary:hover{
        color: black;
        font-weight: 500;
        background-color:	#f9d342 ;
    }
    a{
        /* font-family: 'Edo', arial; */
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: black;
    }
    a:hover{
        text-decoration: none;
        color: rgb(77, 76, 76);
    }
    .btn-read{
        font-weight: 500;
        color: whitesmoke;
        background-color: #292826;
    }
    .btn-read:hover{
        font-weight: 500;
       
        background-color: whitesmoke;
        color: black;
        border-color: black;

    }
    .btn-outline-primary {
        background-color: white;
        color: black;
        border-color: black;
    }
    .btn-outline-primary:hover {
        font-weight: 500;
        background-color: #f9d342 ;
        color: black;
    }

    .btn-load {
        border-color: black;
        font-weight: bolder;
    }

    .card-text{
        font-weight: 400;
    }

    #header{
        font-family: 'Edo', arial;
        /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
        font-weight: 300;
        color: white;
    }
    #header1{
        font-size: medium;
        color: white;
        letter-spacing: 4px;
    }

    .index{

        color: tomato;

    }

  .buscar-caja {
    position: relative;
    transform: translate();
    float: right;
    background:white;
    margin-right: 60px;
    height: 40px;
    border-radius: 40px;
    border: 4px solid;
    padding: 10px;
   }
   
   .buscar-caja:hover > .buscar-txt {
    width: 240px;
    padding: 0 6px;
   }
   
   .buscar-caja:hover > .buscar-btn {
    background: white;
    color: black;
   }
   
   .buscar-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
  
   
   .buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    width: 0px;
    font-weight: bold;
    text-align:justify;
    
   }

   #blog-result-message{
       font-weight: bolder; 
   }

   /* #card-js-title
   {
       text-decoration: underline;
   }
   
   #card-js-title:hover{
       text-decoration-color: rgb(0, 17, 255);
   } */

.signup-component-js,.signin-component-js
{
    width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
    position: relative;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
 
}
.wrapper {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  .hamburger {
      background-color: white;
  }

  .collapse {
    text-align: center;
}


.footerwaulto {
    margin-top: 1vh;
    text-align: center;
}

  .footer {
    background-color: rgb(175, 173, 173);  
    bottom: 0;
    width: 100%; 
    position:absolute;
}

.icon {
    margin-bottom: 1%;
    margin-left: 2vh;
    margin-top: 1%;
}
.footer-dev {
    text-align: center;
    color: rgb(5, 5, 5);
    font-weight:bolder;
    margin-left: 8vh;
}

.footerwaulto {
    margin-left: 8vh;
}

.footer-text {
    text-align: center;
    color: rgb(5, 5, 5);
    font-weight:bolder;
    margin-right: 102vh;
}

.text {
    text-align: center;
    /* margin-top: 2.5vh; */
    padding-top: 2vh;
}


#page-container {
    position: relative;
    min-height: 100vh;
    height:100%;
    padding-bottom: 10vh;
  }
  
#content-wrap {
    padding-bottom: 80px;    
}

/* body {  padding:10px;
    padding-bottom:60px;} */

.form {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 11vh;
    margin-bottom: 2vh;
}

.form-wrapper {
    margin-bottom: 10vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px 30px 60px 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    float: right;
    text-align: center;
    font-weight: bolder;
    }

.index-logo {
    margin-top: 20px;
    width:  100%;
    height: 500px;
    background-size: cover;
}
  
  @media only screen and (max-width: 600px) {

    .form {
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-bottom: 7vh;
        margin-top: 20vh;
    }

    .footer-text {
        text-align: center;
        color: rgb(5, 5, 5);
        font-weight:bolder;
        margin-right: 13vh;
    }

    .footer {
        background-color: rgb(175, 173, 173);  
        bottom: 0;
        width: 100%; 
        /* z-index: 1;  */
        position:absolute;
        /* height:15vh; */
        text-align: center;
    }
    .form-wrapper {
        margin-bottom: 75px;
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 25px 10px 80px 10px;
        border-radius: 15px;
        box-shadow: 0px 10px 50px #555;
        background-color: #ffffff;
        float: right;
        text-align: center;
        font-weight: bolder;
        }
    .icon {
        margin-bottom: 1%;
        margin-left: 1vh;
        margin-top: 1%;
    }
    .index-logo {
        width:  100%;
        height: 10%;
        background-size: cover;
        
    }
    .hamburger {
        background-color: white;
        transform: translateX(22vh)
    }
    .footer-text {
        text-align: center;
        color: rgb(5, 5, 5);
        font-weight:bolder;
        margin-left: 14vh;
    }
    .footerwaulto {
        margin-left: 1vh;
    }
    .footer-dev {
        text-align: center;
        color: rgb(5, 5, 5);
        font-weight:bolder;
        margin-left: 1vh;
    }
  }

  @media only screen and (max-width: 900px) and (orientation: landscape) {
    .form {
        height: 110vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 9vh;
        margin-bottom: 16vh;
    }
    
    .footer {
        background-color: rgb(175, 173, 173);  
        bottom: 0;
        width: 100%; 
        position:absolute;
        /* height:25vh; */
    }

    .icon {
        margin-bottom: 1%;
        margin-left: 13%;
        margin-top: 1%;
    }

    .footer-text {
        text-align: center;
        color: rgb(5, 5, 5);
        font-weight:bolder;
        margin-left: 55vh;
    }
  }


  .collapse{
      color: white;
  }


  .header-signup{
      text-align: center;
  }
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #fdcc0d !important
} */